.todos__icono-eliminar{
    background: url(../../../img/todos/todos-icono-eliminar.png) no-repeat center / cover;
    height: 20px;
    position: absolute;
    right: 43px;
    top: 10px;
    width: 20px;
}