.banner{
    background: url(../img/banner/banner.png) no-repeat center / cover;
    color: var(--blanco);
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-family: var(--raleway);
    height: 8.5rem;
    padding: 1rem;
}