:root{
    /* Fonts */
    --raleway: 'Raleway', sans-serif;

    /* Color */
    --azul100: #2A7AE4;
    --preto: #464646;

    /* Background */
    --blanco: #E5E5E5;
    --azul10: #EAF2FD;
}

*{
    font-family: var(--raleway);
}

.body{
    background-color: var(--blanco);
    color: var(--preto);
}

.container{
    width: 100%;
}

