:root{
    /* Fonts */
    --raleway: 'Raleway', sans-serif;
    --dosis: 'Dosis', sans-serif;

    /* Color */
    --azul100: #2A7AE4;
    --preto: #464646;
    --preto50: #A2A2A2;
    --preto50T: #a2a2a29d;
    --blanco: #E5E5E5;

    /* Background */
    --blanco: #FFFFFF;
    --blanco10: #E5E5E5;
    --azul10: #EAF2FD;
}

*{
    font-weight: 700;
}

.body{
    background-color: var(--blanco10);
    color: var(--preto);
    font-family: var(--dosis);
}

.star-wars, .consolas, .diversos, .footer, .rodapie{
    padding: 1rem;
}