@media only screen and (min-width: 768px) {
    .header__login{
        order: 1;
    }

    .banner{
        height: 16rem;
    }

    .banner__titulo{
        font-size: 2.6rem;
    }

    .banner__parrafo{
        font-size: 1.76rem;
        margin: 1rem 0;
    }

    .footer{
        flex-direction: row;
    }
}