/* ESTOS ESTILOS SON COMUNES A TODAS LAS PAGINAS */
@media only screen and (min-width: 992px) {
    .header, .footer, .rodapie{
        padding: 1.8rem 8.5rem;
    }

    .footer{
        justify-content: space-between;
        align-items: flex-start;     
    }

    .footer__nosotros{
        flex-direction: row;
        gap: 2rem;
        width: 51%;
    }

    .footer-logo{
        margin-top: 2rem;
        min-width: 164px;
    }

    .footer__nav{
        min-width: 163px;
    }

    .footer__lista{
        align-items: flex-start;
        margin: 0 0;
    }

    .footer__link{
        line-height: 2.5rem;
    }

    .footer__formulario{
        margin-top: 1rem;
        width: 45%;
    }
}

@media only screen and (min-width: 1050px) {
    .footer__nosotros{
        gap: 5rem;
    }

    .footer__nav{
        min-width: 200px;
    }
}

@media only screen and (min-width: 1300px) {
    .footer__nosotros{
        gap: 8rem;
    }
}