/* ESTOS ESTILOS SON COMUNES A TODAS LAS PAGINAS */

@media only screen and (min-width: 768px) {
    
    .header__login{
        order: 1;
    }
    
    .footer, .rodapie{
        padding: 2rem;
    }

    .footer{
        flex-direction: row;
    }

    .footer__nosotros{
        align-items: flex-start;
        width: 40%;
    }

    .footer__lista{
        align-items: flex-start;
    }

    .footer__link{
        font-size: 1.2rem;
        line-height: 3rem;
    }

    .footer__formulario{
        width: 59%;
    }

    .footer__btn{
        align-self: flex-start;
    }
}