.formulario__alert{
    color: red;
    font-size: .8rem;
    margin-top: .3rem;
}

.formulario__alert::before{
    content: '*';
}

.formulario__alert-label{
    border: 1px solid red;
}

.alert{
    background-color: rgba(255, 0, 0, 0.281);
}