@media only screen and (min-width: 768px){
    .producto-seleccionado{
        flex-direction: row;
        padding: 2rem;
    }

    .producto-seleccionado__imagen{
        height: 300px;
        width: 300px;
    }

    .producto-seleccionado__textos{
        padding: 0;
        padding-left: 1rem;
    }

    .producto-seleccionado__precio{
        margin: 10px 0;
    }

    .producto-seleccionado__descripcion{
        font-size: 1.15rem;
    }

    .similares{
        margin: initial;
        padding: 2rem;
    }

    .similares-producto{
        width: 23%;
    }
}