.similares{
    margin: 30px 0;
    padding: 0 1rem;
}

.similares__titulo{
    font-family: var(--raleway);
    font-size: 1.8rem;
    font-weight: 800;
}

.similares-productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.similares-producto{
    margin-top: 10px;
    max-width: 330px;
    width: 45%;
}

.similares-producto__imagen{
    height: auto;
    width: 100%;
}

.similares-producto__titulo{
    font-size: 1.15rem;
}

.similares-producto__precio{
    font-family: var(--raleway);
    font-weight: 900;
    margin: 5px 0;
}

.similares-producto__mas{
    font-family: var(--raleway);
}