/* .agregar__input-nombre:invalid+span:after {
  position: absolute; content: '❌';
  padding-left: 5px;
}
  
.agregar__input-nombre:valid+span:after {
  position: absolute;
  content: '✅';
  padding-left: 5px;
} */

.agregar{
  display: flex;
  flex-direction: column;
  padding: 1rem;
}