/* .agregar__input-nombre:invalid+span:after {
  position: absolute; content: '❌';
  padding-left: 5px;
}
  
.agregar__input-nombre:valid+span:after {
  position: absolute;
  content: '✅';
  padding-left: 5px;
} */

.agregar{
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.agregar__titulo{
  font-family: var(--raleway);
  font-size: 1.26rem;
  font-weight: 700;
}

.agregar__formulario{
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  gap: .7rem;
}

.agregar__contenedor-imagen{
  width: 100%;
  height: 160px;
  background-color: var(--blanco);
  border: .8px dashed var(--preto50);
}

.agregar__label-imagen{
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.agregar__input-imagen{
  display: none;
}

.label__inputs{
  background-color: var(--blanco);
  display: flex;
  flex-direction: column;
  padding: .8rem 0 0 .8rem;
  border-bottom: 1px solid var(--preto50);
}

.agregar__input-nombre, .agregar__input-precio{
  border: none;
  height: 2rem;
  margin-top: 5px;
  font-weight: 400;
}

.label__descripcion{
  display: flex;
  flex-direction: column;
  background-color: var(--blanco);
  padding: .8rem 0 0 .8rem;
  border-bottom: 1px solid var(--preto50);

}

.agregar__descripcion{
  border: none;
  height: 4rem;
  margin-top: 5px;
  font-weight: 400;
}

.agregar__btn{
  background: var(--azul100);
  border: none;
  color: var(--blanco10);
  font-family: var(--dosis);
  font-size: 1.1rem;
  margin-top: 1rem;
  height: 2.5rem;
}
