.agregar__input-nombre:invalid+span:after {
    position: absolute; content: '✖';
    padding-left: 5px;
  }
  
.agregar__input-nombre:valid+span:after {
    position: absolute;
    content: '✓';
    padding-left: 5px;
  }

  .agregar{
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }

  .agregar__formulario{
    display: flex;
    flex-direction: column;
  }

  .agregar__contenedor-imagen{
    width: 100%;
    height: 200px;
  }