.agregar__imagen-td--label{
    align-items: center;
    background-color: var(--blanco);
    border: 1px solid var(--azul100);
    color: var(--azul100);
    display: flex;
    height: 2.6rem;
    justify-content: center;
    width: 200px;
  }