@media only screen and (min-width: 768px) {
    .agregar{
        padding: 1.5rem 2rem;
    }
    
    .agregar__formulario{
        max-width: calc(768px - 4rem);
    }
    
    .agregar__contenedor-imagen{
        display: none;
    }

    .agregar__contenedor-imagen-td{
        align-items: center;
        display: flex;
        gap: 1rem;
        justify-content: flex-start;
    }
}